{% extends "base.html" %}
{% load static %}

{% block content %}

        <div class="title-image">
        </div>
        <div class="container-fluid aboutme">
            <h1 class="text-center padding-top">About me</h1>
            <p>
                As an accomplished tattoo artist specializing in neo-traditional designs, I possess a deep-rooted passion for the art of creation. With a self-taught background, I have dedicated countless hours to honing my skills in drawing, painting, and experimenting with various mediums. My artistic journey has taken me across the captivating landscapes of Ireland, particularly in Drogheda and Dublin, where I have established a strong presence as a talented tattoo artist.
            </p>
            <p>
                While my expertise lies in creating stunning neo-traditional tattoos, I also excel in other artistic endeavors such as drawings and wall paintings. My artistic repertoire showcases a harmonious blend of traditional influences infused with contemporary elements, resulting in captivating and unique designs that captivate the eye.
            </p>
            <p>
                In my quest for artistic innovation, I discovered an unwavering fascination with the texture and warmth of wood, which inspired me to incorporate it into my artwork. Through a meticulous fusion of carving, burning, and mixed media techniques, I have successfully forged a distinct style that seamlessly marries wood and digital art. This innovative approach adds a tangible dimension of texture and depth to my digital creations, imbuing each piece with an unrivaled visual allure.
            </p>
            <p>
                When it comes to tattooing, I pride myself on delivering an exceptional experience to my clients. By crafting bespoke designs tailored to their individual preferences and personalities, I ensure that each tattoo becomes a truly remarkable work of art. The creative collaboration with my clients allows me to transform their ideas and visions into extraordinary realities, leaving a permanent mark that is as unique as they are.
            </p>
            <p>
                For those seeking extraordinary tattoo artistry, I invite you to visit Mr Kris Tattoo, where my renowned skills as a tattoo artist are held in high regard. Immerse yourself in a world of creativity, innovation, and personalized artistry as you witness firsthand the exceptional craftsmanship that sets my work apart.
            </p>
            <p class="padding-bottom">
                Choose a tattoo artist who is committed to pushing artistic boundaries and exceeding expectations. Together, let us embark on a transformative journey, where your dreams are transformed into captivating and unforgettable works of art.
            </p>
        </div>

    
{% endblock %}