{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mb-2">
    <div class="row">
        <div class="col text-center transparent-bg border margin-s">
            <h2 class="font-color-w margin-s">Shopping Bag</h2>
        </div>
    </div>
    <div class="row">
        <div class="col transparent-bg border margin-s">
            {% if bag_items %}
                <div class="box">
                    {% for item in bag_items %}
                    <div class="container transparent-bg border row margin-s">
                        <div class="card col-md-5 box-s">
                            <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                        </div>
                        <div class="col-md-6 box-s">
                            <h4 class="font-color-w"><strong>{{ item.product.name }}</strong></h4>
                            <p><strong>Eur: {{ item.product.product_price }}</strong></p>
                            <p>Quantity: {{ item.quantity }}</p>
                            <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-sm" 
                                                data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                <span class="font-color-w">
                                                    <i class="fas fa-minus fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control form-control-sm qty_input" type="number"
                                            name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                            data-item_id="{{ item.item_id }}"
                                            id="id_qty_{{ item.item_id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-sm"
                                                data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                <span class="font-color-w">
                                                    <i class="fas fa-plus fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                        {% if item.product.has_sizes %}
                                            <input type="hidden" name="product_size" value="{{ item.size }}">
                                        {% endif %}
                                    </div>
                                </div>
                            </form>
                            <a class="update-link btn btn-success box-s"><small>Update</small></a>
                            <a class="remove-item btn btn-danger box-s" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}"><small>Remove</small></a>
                        </div>
                    </div>
                    {% endfor %}
                    <h4 class="font-color-w margin-s"><strong>Grand Total: {{ grand_total|floatformat:2 }} Eur</strong></h4>
                    <a href="{% url 'shop' %}" class="btn btn-light box">
                        <span>
                            <i class="fas fa-chevron-left"></i>
                        </span> 
                        <span>Keep Shopping</span>
                    </a>
                    <a href="{% url 'checkout' %}" class="btn btn-success box">
                        <span class="text-uppercase">Secure Checkout <i class="fas fa-lock"></i></span> 
                    </a>
                </div>
            {% else %}
                <h3 class="text-center font-color-w margin-s">Your bag is empty.</h3>
                <a href="{% url 'shop' %}" class="btn btn-light box">
                    <span>
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span>Keep Shopping</span>
                </a>
            {% endif %}
        </div>
    </div>     
</div>

<script>
    // Disable +/- buttons outside 1-99 range
function handleEnableDisable(itemId) {
    var currentValue = parseInt(document.getElementById(`id_qty_${itemId}`).value);
    var minusDisabled = currentValue < 2;
    var plusDisabled = currentValue > 98;
    document.getElementById(`decrement-qty_${itemId}`).disabled = minusDisabled;
    document.getElementById(`increment-qty_${itemId}`).disabled = plusDisabled;
}
  
// Ensure proper enabling/disabling of all inputs on page load
var allQtyInputs = document.getElementsByClassName('qty_input');
for (var i = 0; i < allQtyInputs.length; i++) {
    var itemId = allQtyInputs[i].dataset.item_id;
    handleEnableDisable(itemId);
}
  
  // Check enable/disable every time the input is changed
var qtyInputs = document.getElementsByClassName('qty_input');
for (var i = 0; i < qtyInputs.length; i++) {
    qtyInputs[i].addEventListener('change', function() {
        var itemId = this.dataset.item_id;
        handleEnableDisable(itemId);
    });
}
  
// Increment quantity
var incrementBtns = document.getElementsByClassName('increment-qty');
for (var i = 0; i < incrementBtns.length; i++) {
    incrementBtns[i].addEventListener('click', function(e) {
        e.preventDefault();
        var closestInput = this.closest('.input-group').querySelector('.qty_input');
        var currentValue = parseInt(closestInput.value);
        closestInput.value = currentValue + 1;
        var itemId = this.dataset.item_id;
        handleEnableDisable(itemId);
    });
  }
  
// Decrement quantity
var decrementBtns = document.getElementsByClassName('decrement-qty');
for (var i = 0; i < decrementBtns.length; i++) {
    decrementBtns[i].addEventListener('click', function(e) {
        e.preventDefault();
        var closestInput = this.closest('.input-group').querySelector('.qty_input');
        var currentValue = parseInt(closestInput.value);
        closestInput.value = currentValue - 1;
        var itemId = this.dataset.item_id;
        handleEnableDisable(itemId);
    });
}

// Update quantity on click
document.querySelectorAll('.update-link').forEach(function(element) {
    element.addEventListener('click', function(e) {
        var form = this.previousElementSibling;
        form.submit();
    });
});

// Remove item and reload on click
document.querySelectorAll('.remove-item').forEach(function(element) {
    element.addEventListener('click', function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = this.id.split('remove_')[1];
        var size = this.dataset.product_size;
        var url = "/bag/remove/" + itemId + "/";
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken  // Include the CSRF token in the request headers
            },
            body: JSON.stringify(data)
        })
        .then(function(response) {
            if (response.ok) {
                location.reload();
            }
        });
    });
});
</script>
{% endblock %}