{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="box bg-image min-view">
  <div class="container-fluid aboutme border">
    <h1 class="font-color-w margin text-center">{% trans "Sign In" %}</h1>
    
    {% get_providers as socialaccount_providers %}
    {% if socialaccount_providers %}
    <!-- Social account login content here -->
    {% else %}
    <p class="text-center">{% blocktrans %}If you have not created an account yet, then please
      <a class="link" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
    {% endif %}
    
    <form class="login text-center" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {% for error in form.non_field_errors %}
      <p class="error">{{ error }}</p>
      {% endfor %}
      <div class="form-group">
        {{ form.login }}
        {% for error in form.login.errors %}
        <p class="error">{{ error }}</p>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.password }}
        {% for error in form.password.errors %}
        <p class="error">{{ error }}</p>
        {% endfor %}
      </div>
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <p><a class="button secondaryAction link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></p>
      <button class="primaryAction margin btn btn-primary" type="submit">{% trans "Sign In" %}</button>
    </form>
  </div>
</div>

{% endblock %}