{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="box bg-image">
  <div class="container-fluid aboutme border text-center">
    <h1 class="margin-s">{% trans "Sign Up" %}</h1>
    <p>{% blocktrans %}Already have an account? Then please <a class="link" href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      <div>
        <div>
          <p class="label">{{ form.email.label }}</p>
          {{ form.email }}
        </div>
        <div>
          <p class="label">{{ form.email2.label }}</p>
          {{ form.email2 }}
        </div>
        <div>
          <p class="label">{{ form.username.label }}</p>
          {{ form.username }}
        </div>
        <div>
          <p class="label">{{ form.password1.label }}</p>
          {{ form.password1 }}
        </div>
        <div>
          <p class="label">{{ form.password2.label }}</p>
          {{ form.password2 }}
        </div>
      </div>
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="margin btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
    </form>
  </div>
</div>

{% endblock %}

