{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Product detail -->
<section class="transparent-bg margin-all padding-all font-color-w">
    <h1 class="text-center">{{ product.name }}</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="image">
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
            </div>
        </div>
        <div class="col-md-6">
            <p>{{ product.description|safe }}</p>
            <p class="bold">{{ product.product_price }} Eur</p>
            <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-12 box">
                        <p class="font-color-w"><strong>Quantity:</strong></p>
                        <input class="max-w" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                    </div>
                    <div class="col-12">
                        <a href="{% url 'shop' %}" class="btn btn-light">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Keep Shopping</span>
                        </a>
                        <input type="submit" class="btn btn-success text-uppercase margin-left" value="Add to Cart">
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}