{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Product list -->
<section class="transparent-bg margin-all padding-all font-color-w">
    <h1 class="text-center">Mr. Kris Shop</h1>
    <div class="row">
        {% for shop_product in shop_products %}
            <div class="col-xl-2 col-lg-3 col-md-4 margin-s card">
                <div>
                    <a href="#">
                        <img src="{{ shop_product.image.url }}" alt="{{ shop_product.name.url }}">
                        <p>{{ shop_product.price.url }}</p>
                        <p>{{ shop_product.name.url }}</p>
                        <p>{{ shop_product.description.url }}</p>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</section>

{% endblock %}