{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Keywords -->
    <meta name="description" content="Tattoo artist">
    <meta name="keywords" content="Tattoo artist">

    <!-- Link Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>

    <!-- Link my css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Mr. Kris Tattoo</title>

</head>
<body>
    <!-- Logo/registration -->
    <h1> test</h1>
        
    <!-- Nav bar -->

    <!-- Content -->
    <main>
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <!-- Footer -->
    <footer>

    </footer>

    <!--My JS script-->
    <script src="{% static 'js/script.js' %}"></script>

    <!-- font awesome scrip -->
    <script src="https://kit.fontawesome.com/83b6b0cfb3.js" crossorigin="anonymous"></script>

    <!-- Link Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Link google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=Playball&display=swap" rel="stylesheet">

</body>

</html>