{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid border">
    <h1 class="fontc-color-w text-center margin">Thank you!</h1>
    <h3 class="fontc-color-w text-center margin">Thank you for reaching out! Your message has been successfully received, and I want to express my gratitude for taking the time to get in touch. Rest assured that I value your inquiry and will make it a priority to respond promptly. I look forward to connecting with you and addressing your needs or answering any questions you may have.</h3>
</div>

{% endblock %}