<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header green">
        <strong class="me-auto font-color-b">Success</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        {{ message }} 

        {% if grand_total and not on_profile_page %}
            <p class="font-color-b">In your Bag are {{ product_count }} itams!</p>
            <div>
                {% for item in bag_items %}
                    <div class="row">
                        <div class="col-3 my-1">
                            <img class="w-100" src="{{ item.product.image.url }}">
                        </div>
                        <div class="col-9">
                            <p class="my-0 font-color-b"><strong>{{ item.product.name }}</strong></p>
                            <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col">
                    <strong><p class="mt-3 mb-1 font-color-b">
                        Total: 
                        <span>{{ total|floatformat:2 }} Eur</span>
                    </p></strong>
                    <a href="{% url 'bag' %}" class=" btn btn-success">
                        <span class="text-uppercase">Go To Secure Checkout</span>
                        <span>
                            <i class="fas fa-lock"></i>
                        </span>
                    </a>
                </div>
            </div>
        {% endif %}


    </div>
</div>